/* common css */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.sec_padding {
  padding-top: 60px;
}

.content {
  font-size: 18px;
}

.btn {
  background-image: linear-gradient(to right, #fb984c, #fe4b2f);
  padding: 20px 40px;
  border-radius: 30px;
  color: #ffffff;
}

.heading {
  font-size: 35px;
  color: #676767;
  font-weight: 600;
}

.txt_center {
  text-align: center;
}

/* common Css */

/* Head section code start here */

.head_section {
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.header {
  font-size: 60px;
  font-weight: 700;
  color: #575757;
  padding-top: 60px;
}

.color_orange {
  color: #fb8c47;
}

.hf_width {
  width: 50%;
}

.hf_width img {
  width: 100%;
}

.mr-5p {
  margin: 0 5%;
}

.head_content {
  padding-left: 8%;
}

.head_content p {
  color: #acacac;
  font-size: 20px;
  padding-right: 10%;
  margin-bottom: 60px;
}

.btn {
  background-image: linear-gradient(to right, #fb984c, #fe4b2f);
  padding: 20px 40px;
  border-radius: 30px;
  color: #ffffff;
}

/* Head section code end here */

/* about section code start here */

.about_sec {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about_sec div img {
  padding-left: 20%;
  padding-right: 10%;
}

.about_content {
  padding-top: 60px;
  padding-left: 10%;
}

.about_content p {
  padding-right: 25%;
  padding-bottom: 60px;
}

/* about section code end here */

/* Recipies section code start here */
.recipe_content {
  margin: 0% 25%;
  padding-bottom: 30px;
}

.card {
  padding: 20px;
  border-radius: 25px;
  margin: 0 2%;
  width: 33%;
  box-shadow: 2px 4px 20px rgb(0 0 0 / 20%);
}

.card h2 {
  font-weight: 700;
}

.card img {
  width: 100%;
}

/* Recipies section code start here */

/* review section code start here  */
.review {
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0 2%;
  box-shadow: 2px 4px 20px rgb(0 0 0 / 20%);
}

.review img {
  display: block;
  margin: 0 auto;
  width: 10%;
  border-radius: 50%;
}

/* review section code end here  */

/* follow code start here  */

.follow_sec {
  margin: 80px 7% 0px 7%;
  padding: 50px 0px;
  border-radius: 25px;
  box-shadow: 2px 4px 20px rgb(0 0 0 / 20%);
}

.follow-count {
  width: 33%;
  text-align: center;
}

.follow-count h2 {
  font-size: 45px;
  padding: 0px;
  margin: 0px;
}

/* footer css code start here  */
footer {
  margin-top: 80px;
  background-color: #000000;
  margin-bottom: -15px;
}

footer h2 {
  color: #5b5b5b;
  font-size: 30px;
  padding-top: 30px;
  font-weight: 600;
}

footer p {
  color: #7e9eb5;
  font-size: 14px;
  padding-bottom: 100px;
}
/* footer css code end here  */
